body {
  background-color: black;
  margin: 0;
}

.contents {
  width: 90%;
}

.box1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box1 .name {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 30%;
  height: 12.5rem;
  color: aliceblue;
  font-size: 6vw;
  font-weight: 800;
}

.box1 .name::placeholder {
  color: rgba(194, 194, 194, 0.442);
  font-weight: 300;
  font-size: 3.7vw;
}

.box1 .name:focus {
  outline: none;
}

.box2 {
  margin-top: 15px;
  display: flex;
  width: 100%;
  height: 20rem;
}

.box2 .score-container1,
.box2 .score-container2 {
  width: 50%;
  height: 100%;
  border: 2px solid white;

  display: flex;
}

.box2 .score {
  width: 67%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 14vw;
}

.box2 .special-score {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-adv, .p-pen{
padding: 5px 15px;
}

.box3 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box3 .score-control-container{
  width: 25%;
}

.all-reset-btn {
  width: 11%;
  height: 3rem;
  font-size: 1.8vw;
  background-color: #d9d9d9;
}
