.adv-pen {
  width: 100%;
  display: inline-grid;
  grid-template: 50% 50% / 75% 25%;
  grid-template-areas:
    "n a"
    "n s";
}

.adv-pen span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 7.5vw;
  grid-area: n;
}

.adv-pen .control{
  font-size: 2vw;
}

.adv {
  background-color: #00e313;
}

.pen {
  background-color: #ff0000;
}
