button{
  margin:0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #A7A6A6;
}

button:hover{
  background-color:aliceblue;
}

.score-control {
  background-color: #D9D9D9;
  display: inline-grid;
  grid-template: 
  30px 30px / 35px 35px 40px 35px 35px 40px 35px 35px 40px;
  grid-template-areas:
    "n2 n2 a2 n3 n3 a3 n4 n4 a4"
    "n2 n2 s2 n3 n3 s3 n4 n4 s4";
}

.two {
  grid-area: n2;
}

.three{
  grid-area: n3;
}

.four{
  grid-area: n4;
}

.add2{
  grid-area: a2;
}

.add3{
  grid-area: a3;
}

.add4{
  grid-area: a4;
}

.sub2{
  grid-area: s2;
}

.sub3{
  grid-area: s3;
}

.sub4{
  grid-area: s4;
}

.num, .control{
  display: flex;
  justify-content: center;
  align-items: center;
}

.num{
  font-size: 40px;
}

.control{
  font-size: 30px;
}