.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  color: white;
  font-size: 12vw;
  padding-bottom: 20px;
}

.control-btns {
  width: 100%;
  background-color: #d9d9d9;
}

.control-btns button {
  border: 1px solid white;
  background-color: #d9d9d9;
  font-size: 1.4vw;
  padding: 5px 0;
}

.control-btns button:hover {
  background-color: white;
}

.start-btn,
.stop-btn {
  width: 25%;
}

.plus-btn,
.minus-btn {
  width: 18%;
}

.reset-btn {
  width: 14%;
}
